{% extends 'shared/layout.html' %}

{% block title %}
<title>New Scan</title>
{% endblock %}

{% block extracss %}
<link rel="stylesheet"    href="{{ url_for('static', filename='main/css/register.css') }}">
<link rel="stylesheet"    href="{{ url_for('static', filename='main/css/schedule-scan.css') }}">
{% endblock %}

{% block maincontent %}
<div class="divider"></div>
<div class="details">
    <h2>Register Website</h2>

    <form>
        <label for="scan_name">Website Name</label><br>
        <input type="text" name="scan_name" id="scan_name" required><br>
        <label for="url">Website URL</label><br>
        <input type="url" name="url" id="url" required><br>

        <div class="button_container">
            <button id="register">Register</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='main/js/register.js') }}"></script>
    <script src="{{ url_for('static', filename='main/js/layout.js') }}"></script>
{% endblock %}